@model IEnumerable<OdeFood.Data.Model.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to the World of C#</p>
    <div>
        There are @Model.Count() number of restaurants in the database.
    </div>

    <ul>
        @foreach (var restaurant in Model)
        {
            <li>@restaurant.Name</li>
            
        }

    </ul>
 
    
</div>

